*
!.gitignore
#*.cpp
#*.c
#*.h
#*.hpp

doc/
example/
test/
proj/
msvc/
asm/
xmldoc/
dot_net_example/
*.html
*.ipp

#cmake-bin/
#tests/
#examples/

!pystring/
!pystring/*

# I need the below file
# rapidjson/include/rapidjson/document.h
# boost updates
!visualc.hpp
!assert.hpp
!build.bat
!build.jam
!msvc.jam
!msvc.py*